################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/csharp/Nes.RestApi.CSharp.Example/bin/Debug
/csharp/Nes.RestApi.CSharp.Example/obj/Debug
/csharp/.vs/Nes.RestApi.CSharp/v15
